P.Satyanarayana Reddy - 20BRS1263 - ASS01

Task 1:Create pandas dataframe(Dataframe name 'df')with numpy random values(4 feautures and 4 observations)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Creating 4 series

c1 = pd.Series(np.random.rand(4))
c2 = pd.Series(np.random.rand(4))
c3 = pd.Series(np.random.rand(4))
c4 = pd.Series(np.random.rand(4))
print(c1,c2,c3,c4)

df = pd.DataFrame([c1,c2,c3,c4])
print(df)

0    0.855997
1    0.774424
2    0.479867
3    0.600679
dtype: float64 0    0.284434
1    0.094336
2    0.944981
3    0.349308
dtype: float64 0    0.609814
1    0.372881
2    0.055792
3    0.760789
dtype: float64 0    0.289747
1    0.747007
2    0.806609
3    0.807793
dtype: float64
          0         1         2         3
0  0.855997  0.774424  0.479867  0.600679
1  0.284434  0.094336  0.944981  0.349308
2  0.609814  0.372881  0.055792  0.760789
3  0.289747  0.747007  0.806609  0.807793

 Task 2: Rename the task 1 Dataframe df Column names To Random value 1,Random value 2,Random value 3,Random value 4

In [ ]:

# Changing the column name

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.855997        0.774424        0.479867        0.600679
1        0.284434        0.094336        0.944981        0.349308
2        0.609814        0.372881        0.055792        0.760789
3        0.289747        0.747007        0.806609        0.807793

Task 3: Find the descriptive statastics of the 'df' dataframe

In [ ]:
#descriptive statastics
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.509998        0.497162        0.571812        0.629642
std          0.276326        0.325070        0.395439        0.206852
min          0.284434        0.094336        0.055792        0.349308
25%          0.288419        0.303245        0.373848        0.537836
50%          0.449781        0.559944        0.643238        0.680734
75%          0.671360        0.753861        0.841202        0.772540
max          0.855997        0.774424        0.944981        0.807793

Task 4:Check for the null values in 'df' and find the datatype of each column

In [ ]:
# Finding null values

df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
# Checking the datatype
print(df['Random value 1'].dtype)
print(df['Random value 2'].dtype)
print(df['Random value 4'].dtype)
print(df['Random value 3'].dtype)

float64
float64
float64
float64

Task 5: Display Random value 2 and Random value 3 columns with location and index location methods

In [ ]:
#location method
# give the actual row and column name as a parameter

df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.774424        0.479867
1        0.094336        0.944981
2        0.372881        0.055792
3        0.747007        0.806609

In [ ]:
#index location method
# give the actual row and column index value as a parameter

df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.774424        0.479867
1        0.094336        0.944981
2        0.372881        0.055792
3        0.747007        0.806609